<!-- app.component.html -->
<main id="content">
</main>
<app-base-modal 
  [showModal]="showModal"
  [modalContent]="modalContent"
  (close)="closeModal()">
</app-base-modal>
<header *ngIf="isLoggedIn()">
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/register">Register</a>
    <!-- Add more navigation links as needed -->
    <button (click)="logout()">Logout</button>
  </nav>
</header>
<main>
  <router-outlet *ngIf="isLoggedIn()"></router-outlet>
  <app-register *ngIf="!isLoggedIn()"></app-register>
</main>
<footer *ngIf="isLoggedIn()">
  <nav>
    <ul>
      <li><a routerLink="/profile" data-target="Profile">Profile</a></li>
      <li><a routerLink="/history" data-target="history">History</a></li>
      <li><a routerLink="/start-workout" data-target="start-workout">Start Workout</a></li>
      <li><a routerLink="/exercises" data-target="exercises">Exercises</a></li>
      <li><a routerLink="/ai" data-target="ai">AI</a></li>
    </ul>
  </nav>
</footer>
<router-outlet></router-outlet>