<!-- app.component.html -->
<main id="content">
</main>
<app-base-modal 
  [showModal]="showModal"
  [modalContent]="modalContent"
  (close)="closeModal()">
</app-base-modal>
<header *ngIf="isLoggedIn()">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <nav>
    <div class="header-button-row">
      <div class="flex-container">
        <div class="button-container">
          <a routerLink="/">
            <button mat-fab aria-label="Home" routerLink="/">
              <mat-icon>home</mat-icon>
            </button>
          </a>
        </div>
        <div class="button-container">
          <a routerLink="/register">
            <button mat-fab aria-label="Register" routerLink="/register">
              <mat-icon>app_registration</mat-icon>
            </button>
          </a>
        </div>
        <div class="button-container">
          <button mat-fab aria-label="Logout" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet *ngIf="isLoggedIn()"></router-outlet>
  <app-register *ngIf="!isLoggedIn()"></app-register>
</main>
<footer *ngIf="isLoggedIn()">
  <nav>
    <ul>
      <li><a routerLink="/profile" data-target="Profile">Profile</a></li>
      <li><a routerLink="/history" data-target="history">History</a></li>
      <li><a routerLink="/start-workout" data-target="start-workout">Start Workout</a></li>
      <li><a routerLink="/exercises" data-target="exercises">Exercises</a></li>
      <li><a routerLink="/ai" data-target="ai">AI</a></li>
    </ul>
  </nav>
</footer>
<router-outlet></router-outlet>