<!-- app.component.html -->
<main id="content">
  </main>
  <app-base-modal 
    [showModal]="showModal"
    [modalContent]="modalContent"
    (close)="closeModal()">
  </app-base-modal>
  <footer>
    <nav>
      <ul>
        <li><a routerLink="/profile" data-target="Profile">Profile</a></li>
        <li><a routerLink="/history" data-target="history">History</a></li>
        <li><a routerLink="/start-workout" data-target="start-workout">Start Workout</a></li>
        <li><a routerLink="/exercises" data-target="exercises">Exercises</a></li>
        <li><a routerLink="/ai" data-target="ai">AI</a></li>
      </ul>
    </nav>
  </footer>
  <router-outlet></router-outlet>
  